@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
}

* {
    /* font-size: 18px; */
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.sidebar {
    background-color: #1A1C1E;
    width: max-content;
    height: 100%;
    padding: 50px 15px;
    border-radius: 16px;
}

ion-icon {
    font-size: 35px;
    color: #FFFFFF;
}

.logo{
    width: 100%;
    height: 50px;
    
}
.logo-image{
    transform: ;
    margin: 0 40%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu {
    width: 200px;
    height: 80%;
}


li {
    display: flex;
    align-items: center;
    justify-content: center;
  margin-bottom: 40px;
}

.menu-link {
    display: flex;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
}

.menu-link span {
    transform: translate(-25px, 10px);
}